{{#unless student}}
<h2>That student could not be found!</h2>
{{else}}
<h2>{{student.name}}</h2>
<h2>{{student.phone}}</h2>
<h2>{{student.email}}</h2>
<form action="/students/{{student.name}}" method="post">
  <input type="text" name="student[name]" placeholder="Name" value="{{student.name}}" />
  <input type="text" name="student[phone]" placeholder="Phone" value="{{student.phone}}" />
  <input type="text" name="student[email]" placeholder="Email" value="{{student.email}}" />
<button type="sumbit">Edit Contact</button>
</form>
{{/unless}}
